<mat-toolbar color="primary">

  <button    mat-icon-button  [matMenuTriggerFor]="menu"   aria-label="Example icon-button with a menu" >
    <mat-icon>more_vert</mat-icon>
  </button>

  <span>Gestion de Colectivos</span>
  <span class="spacer"></span>

  <!-- Boton del logo / vuelve a la pagina principal -->
 <button (click)="irPaginaInicio()"  mat-mini-fab color="primary">
   <img class="botonBus" src="./assets/bus32.png" />
 </button>
 <!--  OTRA FORMA DE HACER LO MISMO
    <button  routerLink="/inicio"  mat-mini-fab color="primary">
    <img class="botonBus" src="./assets/bus32.png" />
  </button> -->
</mat-toolbar>

<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="irPersonaLista()">
    <mat-icon>supervisor_account</mat-icon>
    <span>Personas</span>
  </button>
  <button mat-menu-item>
    <mat-icon> directions_bus</mat-icon>
    <span>Colectivos</span>
  </button>
  <button mat-menu-item>
    <mat-icon>repeat_one</mat-icon>
    <span>Viajes</span>
  </button>
</mat-menu>

<!-- <mat-toolbar color="primary" >
    <button mat-icon-button class="button-menu" (click)="onClick()" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Proyecto Angular</span>
    <button mat-icon-button class="button-arrow" aria-label="Example icon-button with heart icon">
      <mat-icon>arrow_back</mat-icon>
    </button>

    </mat-toolbar>
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>dialpad</mat-icon>
        <span>Redial</span>
      </button>
      <button mat-menu-item disabled>
        <mat-icon>voicemail</mat-icon>
        <span>Check voice mail</span>
      </button>
      <button mat-menu-item>
        <mat-icon>notifications_off</mat-icon>
        <span>Disable alerts</span>
      </button>
    </mat-menu>
 -->
