.boton-editar {
  margin-right: 8px;
  text-align: center;
}

.demo-table {
  width: 100%;
  cursor: default;
}

.mat-mdc-row .mat-mdc-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
}

.mat-mdc-row:hover .mat-mdc-cell {
  border-color: currentColor;
}

.demo-row-is-clicked {
  font-weight: bold;
}

.header {
  color: firebrick;
}

.headerCentrada {
  text-align: center;
  color: firebrick;
}

.centrada {
  text-align: center;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

.bm {
  text-align: right;
  cursor: pointer;
}

.alta {
  cursor: pointer;
  margin: 0 7.5%;
}
