<mat-toolbar class="toolbar">
  <span class="contenedor2">Datos de Micros</span>
</mat-toolbar>
<div class="contenedor2">
  <mat-card>
    <form [formGroup]="form" (ngSubmit)="guardarCambios()">
      <mat-grid-list cols="2" rowHeight="57px" class="grid">

        <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'#F9FBFD'">

          <mat-form-field class="ancho">
            <mat-label>Id</mat-label>

            <input matInput formControlName="id" />

            <div class="error" *ngIf="form.get('id')?.hasError('maxlength')">
                El id debe tener como maximo <strong>10 caracteres</strong>
            </div>

          </mat-form-field>

        </mat-grid-tile>

        <mat-grid-tile [colspan]="1" [rowspan]="4" [style.background]="'F9FBFD'">
          <img src="./assets/bus-80.png" alt="" />
        </mat-grid-tile>

        <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'#F9FBFD'">

          <mat-form-field class="ancho">
            <mat-label>Patente</mat-label>
            <input matInput formControlName="patente" />
          </mat-form-field>

        </mat-grid-tile>

        <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'#F9FBFD'">
          <mat-form-field class="ancho">
            <mat-label>Asientos</mat-label>
            <input matInput formControlName="asientos" />
            <div class="error" *ngIf="form.get('edad')?.hasError('pattern') || form.get('edad')?.hasError('min') || form.get('edad')?.hasError('max')">
              Solo umeros, cantidad de asientos entre 20 y 58
          </div>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'#F9FBFD'">
          <mat-form-field class="ancho">
            <mat-label>Modelo</mat-label>
            <input matInput formControlName="modeloNombre" />
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'#F9FBFD'">
          <mat-form-field class="ancho">
            <mat-label>Marca</mat-label>
            <input matInput formControlName="modeloMarca" />
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="2" [rowspan]="1" [style.background]="'#F4F6F8'">
          <button  type="submit" [disabled]="form.invalid" style="margin-right: 20px" mat-raised-button >
            <mat-icon class="verde" >save</mat-icon>Guardar cambios
          </button>
          <button  type="button" (click)="volverAtras()" mat-raised-button>
            <mat-icon class="rojo">reply</mat-icon>Regresar sin guardar
          </button>
        </mat-grid-tile>

      </mat-grid-list>
    </form>
  </mat-card>

</div>
