/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.spacer {
  flex: 1 1 auto;

}
.toolbar{
  margin-bottom: 5px;
}
.contenedor {
  margin-top: 15%;
  margin: 0 16%;

}
.titulo {
  margin: 0 5%;
}
.alta {
  cursor: pointer;
  margin:  13%;

}
.disabled{
  cursor:no-drop ;

}
